<div id="<%= dom_id movie %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= movie.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= movie.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Average Stars:</strong>
    <%= movie.average_stars %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= movie.year %>
  </p>
</div>
