<div id="<%= dom_id location %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= location.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= location.country %>
  </p>

</div>
